@use "./spacetheme.theme" as *;
@import "node_modules/bootstrap/scss/functions.scss";
@import "node_modules/bootstrap/scss/variables.scss";

.spacetheme__banner-one-container a i{
    transition: transform 0.3s ease-in-out;
}
.spacetheme__banner-one-container a:hover{
    i{
        transform: translateX(5px);
    }
}

.spacetheme__banner-one-container .row{
    box-shadow: map-get($theme-schema, 'box-shadow-light');
    width: 90%;
}

@media only screen and (max-width: map-get($grid-breakpoints, "md")) {
    .spacetheme__banner-one-container .row{
        box-shadow: unset;
        width: 100%;
    }
}