.__spacetheme-history-section{
    .swiper-pagination{
        bottom: unset;
        top: 20px;

    }
    .swiper-pagination-bullet{
        width: .7rem;
        height: .7rem;
    }
    .swiper-pagination-bullet-active{
        background: #000;
    }
}